<ion-view title="Dashboard">

  <ion-content>
  <div class="card">
    <div class="item item-divider">
      Koordinat
    </div>
    <div class="item item-text-wrap">
      Posisi : {{position.lat}}
    </div>
  </div>
</ion-content>



  <!-- for ion tabs -->
  <div class="tabs tabs-calm">
    <a nav-clear class="tab-item disable-user-behavior active" title="Dashboard" nav-clear ui-sref="app.dashboard">
      <i class="icon ion-android-compass"></i>
      <span class="tab-title ng-binding" ng-bind-html="title"></span>
    </a>
    <a nav-clear class="tab-item disable-user-behavior" title="Map" nav-clear ui-sref="app.map">
      <i class="icon ion-earth"></i>
      <span class="tab-title ng-binding" ng-bind-html="title"></span>
    </a>
    <a nav-clear class="tab-item disable-user-behavior" title="Help" icon-on="ion-ios7-filing" icon-off="ion-ios7-filing-outline" ui-sref="app.help">
      <i class="icon ion-help-buoy"></i>
      <span class="tab-title ng-binding" ng-bind-html="title"></span>
    </a>
  </div>
</ion-view>
