<ion-view title="Dashboard">

  <!-- smartsea compass icon is taken from: Arrow Up by Pham Thi Dieu Linh from the Noun Project -->

    <ion-content>
        <ion-scroll style="background-image: url(./assets/img/background.png); width: 100%; height: 100%" direction="y">
            <!------------------ Internet Status ---------------------->
            <div class="row">
                <div class="col">
                    <div class="item" style="font-size:15px">
                        <i ng-class="{'pull-right icon ion-flash larger balanced': isOnline, 'pull-right icon ion-flash-off larger assertive': !isOnline}"></i>
                        Status Koneksi Internet {{onlineState}}
                    </div>
                </div>
            </div>

            <!------------------ Compass ---------------------->
            <div class="row row-no-padding">
                <div class="col">
                    <div class="compasshead"> <!-- ini yang diem -->
                        <img class="img-reponsive" style="max-height:70px" src="./assets/img/compass-head.png"/>
                    </div>
                    <div class="compassmain" rotate degrees="{{position.heading}}"> <!-- ini yang gerak -->
                        <img class="img-responsive" style="max-height:200px" src="./assets/img/compass-main.png" />
                    </div>
                </div>
            </div>

            <!------------------ Weather Thumbnail ---------------------->
            <!-- Baru semacam placeholder aja, aku bingung masukin data weathernya -->

            <div class="row">
                <div class="col">
                    <div class="list">
                        <a class="item item-thumbnail-left" href="#">
                        <img src="{{weatherIcon}}">
                        <h2>{{weatherData.name}}</h2>
                        <i>{{weatherData2.description}}</i>
                        <p>{{weatherData.main.temp}} <sup>o</sup>C </p>
                        <p>Kecepatan angin: {{weatherData.wind.speed}} km/jam</p>
                        </p>
                        </a>
                    </div>

                </div>
            </div>

        <!------------------ Navigation Thumbnail ---------------------->
            <div class="row" style="padding-bottom:10px">
                <div class="col" style="padding-bottom:50px">
                    <div class="list">
                        <a class="item item-thumbnail-left">
                        <img src="./assets/img/smartseacompass.svg">
                        <h2>Navigasi</h2>
                        <p>Lat: {{position.latitude | number:4}}  <sup>o</sup> &nbsp; Long: {{position.longitude | number:4}} <sup>o</sup></p>
                        <p>Arah : {{position.heading}} <sup>o</sup></p>
                        <p>Kecepatan : {{position.speed | number:3}} km/jam</p>
                        </p>
                        </a>
                    </div>

                </div>
            </div>

        </ion-scroll>
    </ion-content>



  <!-- for ion tabs -->
  <div class="tabs tabs-calm">
    <a nav-clear class="tab-item disable-user-behavior active" title="Dashboard" nav-clear ui-sref="app.dashboard">
      <i class="icon ion-android-compass"></i>
      <span class="tab-title ng-binding" ng-bind-html="title"></span>
    </a>
    <a nav-clear class="tab-item disable-user-behavior" title="Peta" nav-clear ui-sref="app.map">
      <i class="icon ion-earth"></i>
      <span class="tab-title ng-binding" ng-bind-html="title"></span>
    </a>
    <a nav-clear class="tab-item disable-user-behavior" title="Bantuan" icon-on="ion-ios7-filing" icon-off="ion-ios7-filing-outline" ui-sref="app.help">
      <i class="icon ion-help-buoy"></i>
      <span class="tab-title ng-binding" ng-bind-html="title"></span>
    </a>
  </div>

</ion-view>
