<ion-view title="Dashboard">

  <ion-content>
    <ion-pane>
    <div class="row row-no-padding responsive-sm">
    <div class="card">
      <div class="item item-divider">
        Kompas
      </div>
      <div class="item item-text-wrap" style="text-align:center;">
        <div rotate degrees="90">
          <img class="img-responsive" style="max-height:150px" src="./assets/img/compass.png"></img>
          <i> {{deg}}</i>
        </div>
      </div>
    </div>
    </div>

    <div class="row row-no-padding">
      <div class="col">
        <div class="card">
          <div class="item item-divider">
            Koordinat
          </div>
          <div class="item item-text-wrap" style="text-align:center;">
            {{position.latitude | number:4}}; {{position.longitude | number:4}}
          </div>
        </div>
      </div>
      <div class="col">
        <div class="card">
          <div class="item item-divider">
            Koneksi internet
          </div>
          <div class="item item-text-wrap" style="text-align:center;">
             {{onlineState}}
          </div>
        </div>
      </div>

    </div>
    <div class="row row-no-padding">
      <div class="col">
        <div class="card">
          <div class="item item-divider">
            Arah
          </div>
          <div class="item item-text-wrap" style="text-align:center;">
            <i ng-show="{{!position.heading}}"> Tidak tersedia </i>
            {{position.heading}}
          </div>
        </div>
      </div>
      <div class="col">
        <div class="card">
          <div class="item item-divider">
            Kecepatan
          </div>
          <div class="item item-text-wrap" style="text-align:center;">
            <i ng-show="{{!position.speed}}"> Tidak tersedia </i>
            {{position.speed}}
          </div>
        </div>
      </div>

    </div>
  </ion-pane>
  </ion-content>



  <!-- for ion tabs -->
  <div class="tabs tabs-calm">
    <a nav-clear class="tab-item disable-user-behavior active" title="Dashboard" nav-clear ui-sref="app.dashboard">
      <i class="icon ion-android-compass"></i>
      <span class="tab-title ng-binding" ng-bind-html="title"></span>
    </a>
    <a nav-clear class="tab-item disable-user-behavior" title="Map" nav-clear ui-sref="app.map">
      <i class="icon ion-earth"></i>
      <span class="tab-title ng-binding" ng-bind-html="title"></span>
    </a>
    <a nav-clear class="tab-item disable-user-behavior" title="Help" icon-on="ion-ios7-filing" icon-off="ion-ios7-filing-outline" ui-sref="app.help">
      <i class="icon ion-help-buoy"></i>
      <span class="tab-title ng-binding" ng-bind-html="title"></span>
    </a>
  </div>
</ion-view>
