<ion-view>
    <ion-content style="background-image: url(./assets/img/background.png); width: 100%; height: 100%" >
        <div class="row row-center" style="height:100%">
            <div class="row">
                <div id="boxDisc" class="col col-75 center" style="background-color: white">
                    <div id="judulDisc">
                        <h3>Pemberitahuan</h3>
                    </div>
                    <p>Aplikasi Ina-SmartSea ini tidak dianjurkan sebagai acuan keselamatan pelayaran.</p><hr width="70%" />
                    <p>Posisi yang ditampilkan pada aplikasi ini merupakan posisi relatif dengan akurasi bergantung pada kemampuan masing-masing perangkat.</p>
                    <p>Pengembang aplikasi dan Kementrian KP tidak bertanggung jawab atas kerugian yang diakibatkan oleh penggunaan aplikasi ini di luar fungsi utamanya</p>
                    <button id="disclamerBtn" ui-sref='app.map' class="button button-block button-positive">
                        Setuju
                    </button>
                </div>
            </div>
        </div>
    </ion-content>
</ion-view>
