<ion-view title="Home">
  <ion-content class="padding" style="text-align:center;  background-color:#E0E0D1;">
    <br/>
    <br/>
    <img class="img-responsive" style="max-height:200px" src="./assets/img/logo_smartsea.png"></img>
    <h3>Selamat Datang di prototype Smart Sea</h3>
    <br/>
    <p>
      <strong>SmartSea</strong> merupakan aplikasi peta pemanfaatan ruang perairan laut oleh Kementrian Kelautan dan Perikanan</p>
    </br>
    <strong>Versi 0.2.5</strong>
    <br/>
    <br/>

    <button class="button icon-right ion-chevron-right button-fullwidth button-positive" ui-sref='app.map'>
      Buka Peta
    </button>
  </ion-content>
</ion-view>
