<ion-view title="Home">
  <ion-content class="padding" style="text-align:center;  background-color:#e0e9fb;">
    <img class="img-responsive" style="max-height:200px" src="./assets/img/logo.png"></img>
    <p>
      <strong>Ina-SmartSea</strong> merupakan aplikasi peta pemanfaatan ruang perairan laut oleh Kementerian Kelautan dan Perikanan</p>
    <strong>Versi 0.7.5</strong>
    <br/>

      <div class="list list-inset">
          <label class="item item-input">
              <input type="text" placeholder="Username" ng-model="data.username">
          </label>
          <label class="item item-input">
              <input type="password" placeholder="Password" ng-model="data.password">
          </label>
      </div>
      <button class="button button-block button-calm" ui-sref='app.wizard'>Login</button>


    <button class="button icon-right ion-chevron-right button-block button-positive" ui-sref='app.dashboard'>
      Buka Peta Tanpa Login
    </button>
    <br/>
  </ion-content>
</ion-view>
