<ion-side-menus>

  <ion-pane ion-side-menu-content>

    <ion-nav-bar class="bar-positive nav-title-slide-ios7">
      <!--ion-nav-back-button class="button-clear"><i class="icon ion-ios7-arrow-back"></i></ion-nav-back-button-->

    </ion-nav-bar>

    <ion-nav-view name="mainContent"></ion-nav-view>

  </ion-pane>

  <ion-side-menu side="left">
    <header class="bar bar-header bar-stable">
      <h1 class="title">Menu Peta</h1>
    </header>
    <ion-content class="has-header">

      <ion-list>
        <div class="item item-divider">
          Layer Utama
        </div>
        <ion-checkbox ng-repeat="item in layersList"  ng-model="item.checked" ng-change ="toggleOverlay(item.name)">
          {{ item.text }}
        </ion-checkbox>
        <!--div class="item">
          <pre ng-bind="layersList | json"></pre>
        </div-->

        <!--ion-item nav-clear menu-close ng-click="goTo(locationKey)" ng-repeat="(locationKey,location) in locations track by location.name">
          {{location.name}}
        </ion-item-->
        <div class="item item-divider">
          Menu tambahan
        </div>
        <ion-item ng-click='showAlert()'>
          Unduh Data
        </ion-item>
        <ion-item href="#/detail">
          Tampilkan foto
        </ion-item>
        <ion-item href="#/detail">
          ...
        </ion-item>


      </ion-list>

    </ion-content>

  </ion-side-menu>

</ion-side-menus>
