<!--div class="bar bar-header bar-calm">
	<h1 class="title">Tambah Peta</h1>
</div>

<div style="margin-top:30px; margin-bottom:10px;">
	<h5>Pilih wilayah peta yang akan anda tambahkan</h5>
</div>

<ion-list>
	<ion-checkbox class="item-text-wrap" ng-repeat="layer2 in downloadedLayers" ng-model="layer2.todownload" ng-checked="layer2.todownload">
		</p> {{layer2.name}} </p>
	</ion-checkbox>
</ion-list-->


<ion-modal-view>
	<ion-header-bar class="bar bar-header bar-calm">
		<h1 class="title">Tambah Peta</h1>
		<button class="button button-clear button-primary" ng-click="modal.hide()">Tutup</button>
	</ion-header-bar>
	<ion-content class="padding">
		<h5>Pilih wilayah peta yang akan anda tambahkan</h5>
		<div class="list">
			<ion-list>
				<ion-checkbox class="item-text-wrap" ng-repeat="layer2 in downloadedLayers" ng-model="layer2.todownload" ng-checked="layer2.todownload">
					</p> {{layer2.name}} </p>
				</ion-checkbox>
			</ion-list>

			<button class="button button-full button-positive" ng-click="tambah()">Tambahkan</button>
		</div>
	</ion-content>
</ion-modal-view>
