
	<div class="bar bar-header bar-calm">
		<h1 class="title">Tambah Peta</h1>
	</div>
	<ion-scroll zooming="true" direction="xy" style="width: 500px; height: 500px">
	<div style="margin-top:30px; margin-bottom:10px;">
		Pilih wilayah peta yang akan anda tambahkan
	</div>

	<ion-list>
		<ion-checkbox class="small" ng-repeat="layer2 in downloadedLayers" ng-model="layer2.todownload" ng-checked="layer2.todownload">
			</smaller> {{layer2.name}} </smaller>
		</ion-checkbox>
	</ion-list>
	</ion-scroll>
