<ion-view title="Pilih Avatar">
    <ion-nav-buttons side="right">
        <div>
            <button ng-model="isLogin" ng-click="toggleLogin()" ng-class="{'button icon-left button-clear icon-login': !isLogin, 'button icon-left button-clear ion-ios-contact': isLogin}" >
                <span ng-if="!isLogin"><b>Login</b></span><span ng-if="isLogin"><b>{{data.namaPengguna}}</b></span>
            </button>
        </div>
    </ion-nav-buttons>
    <ion-content>
        <ion-scroll style="background-image: url(./assets/img/background.png); width: 100%; height: 100%" direction="y">
            <div class="row">
                <div class="col">
                    <img ng-src="{{ava}}" width="100%"/>    
                </div>
            </div>
            <div class="row">
                 <input type="file" ng-model="pilihGambar"/>    
            </div>
           
        </ion-scroll>
    </ion-content>
  </div>
</ion-view>
