body {
  height: auto;
  min-height: 100%;
}

.scroll, .angular-leaflet-map {
  height: 100%;
}

.leaflet-bottom {
  bottom : 10px;
}

.item.item-body p {
  margin-top: 0;
}

.tabs.border-top {
  border-top: 1px solid #ddd !important;
}


.list .item.item-accordion {
  line-height: 38px;
  padding-top: 0;
  padding-bottom: 0;
  transition: 0.09s all linear;
}
.list .item.item-accordion.ng-hide {
  line-height: 0px;
}
.list .item.item-accordion.ng-hide-add,
.list .item.item-accordion.ng-hide-remove {
  display: block !important;
}

.item-checkbox {
  border-style:none !important;
}

.pull-right {
  float:right;
}
.pull-left {
  float:left;
}

.larger {
    font-size: 30px;
}

/* style buat compass */
.compasshead
{
    position: relative;
    text-align: center;
    z-index: 2;
}
.compassmain
{
    text-align: center;
    z-index: 1;
    position: relative;
    top: -20px;
}
.compasstext
{
    text-align: center;
    vertical-align: middle;
    position: relative;
    z-index: 3;
}